services:
  backend:
    build: ./backend-laravel
    container_name: laravel_app
    volumes:
      - ./backend-laravel:/var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend-laravel:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build:
      context: ./frontend-vue
      dockerfile: Dockerfile
    container_name: vue_app
    working_dir: /app
    volumes:
      - ./frontend-vue:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev 

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_DATABASE: multiempresa
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
